body {
	background-color: darkslategrey;
	color: black;
	font-family: 'Macondo', cursive;
	font-size: 16px;
}
.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

#output {
	margin: 50px;
	color: aliceblue;
}

#trev {
	max-height: 40vh;
	animation-name: spin;
	animation-duration: 8000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
.vanish {
	display: none;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.title {
	background-color: aliceblue;
	opacity: 0.5;
	padding: 16px;
	margin: 16px;
}
.button {
	margin: 20px;
	width: 200px;
	height: 40px;
	background-color: orange;
	color: black;
	border-radius: 20px;
	font-family: 'Macondo', cursive;
	font-size: 16px;
}

.question-time {
	color: aliceblue;
	font-size: 1.5rem;
}
#q-input {
	width: 200px;
	height: 30px;
}
